<h1>look at that</h1>
<h2><%= @task.title %></h2>
<h3><%=@task.details%></h3>
<h3><%=@task.completed%></h3>
<%= link_to 'eDiT the tasks', edit_task_path %>
<%= link_to "Tasks for my slaves", tasks_path %>
